@font-face{
    src:url("font/THSarabunNew_2.ttf");
}

.font{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 25; 
}
.font36{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 36; 
}
.fontbold{
    -fx-font-family : 'TH Sarabun New' ;
    -fx-font-weight : bold; 
    -fx-font-size : 24; 
}
.fontpagi{
    -fx-font-family : 'TH Sarabun New' ;
    -fx-font-size : 20; 
}
.fonttable{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 36; 
   -fx-font-weight : bold; 
}
.font68{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 68; 
}
.font24{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 24; 
}
.font60{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 60; 
}
.font50{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 50; 
}
.font45{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 45; 
}
.font50b{
   -fx-font-family : 'TH Sarabun New' ;
   -fx-font-size : 50; 
   -fx-font-weight : bold;
}